<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>661602230567-q8jg0fnvdt3mmi23baq45kipa2oarjqe.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.661602230567-q8jg0fnvdt3mmi23baq45kipa2oarjqe</string>
	<key>API_KEY</key>
	<string>AIzaSyAA2q5NrajcEbd9Kk4F04s-MeMrVbBMJBc</string>
	<key>GCM_SENDER_ID</key>
	<string>661602230567</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hj.tracker</string>
	<key>PROJECT_ID</key>
	<string>tracker-d6dbe</string>
	<key>STORAGE_BUCKET</key>
	<string>tracker-d6dbe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:661602230567:ios:de9af2d188938aab4f8902</string>
</dict>
</plist>